html {
  font-family:'Courier New', Courier, monospace;
  margin: auto;
  text-align: center;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  max-width:300px;
}

.header {
  text-align: left;
  padding-top: 5px;
}

.flex-container {
  /* border: 3px solid #fff; */
  padding: 20px;
  margin: center;
  display:flex;
  justify-content:center;
}

.flex-child {
  /* border: 2px solid orange; */
  max-width: 300px;
  min-width: 300px;
  flex:1;
}

.flex-child:first-child {
  margin-right: 40px
}

#dialogue-container {
  /* border: 2px solid blue; */
  display: flex;
  max-width: 300px;
  min-width: 300px;
  flex:1;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  background: url("../images/dialogue-container.png") no-repeat center center;
  background-size: contain;
  flex-direction: column;
}

#expression-container {
  /* border: 2px solid yellow; */
  display: flex;
  max-width: 300px;
  min-width: 300px;
  flex:1;
  width: 80%;
}


#question {
  font-size: 20px;
  width:80%;
}

#prototype-expression {
  max-width:300px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}


button {
  padding: 5px;
  font-family:'Courier New', Courier, monospace;
  background-color: #4090a3;
  border-color: #224e58;
}

#generate {
  background-color: #c3b901;
  border-color: #8b8400;
}

img.mood-display {
  max-width:300px;
}

.mood-display {
  font-size: 20px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  font-weight:normal;
}

br {
  content: '\A';
  display: contents;
  white-space: pre;
}

#console {
  margin:auto;
  background-color: #eef0f1;
  height: 100px;
  max-width: 480px;
  text-align: left;
  padding: 5px;
  border-style: solid;
  border-color: #0d0d0e;
  border-radius:  10px;
  opacity: 0.9;
}

ol {
  overflow-y:auto;
  height: 82.5px;

}

li {
  opacity: 1;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
}

#console-list {
  margin:0px;
  
}

#console-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}
