html {
  font-family:'Courier New', Courier, monospace;
  margin: auto;
  text-align: center;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  max-width:300px;
}

.header {
  text-align: left;
  padding: 5px;
}

.flex-container {
  /* border: 3px solid #fff; */
  padding: 20px;
  margin: center;
  display:flex;
  justify-content:center;
}

.flex-child {
  /* border: 2px solid orange; */
  max-width: 300px;
  min-width: 300px;
  flex:1;
}

.flex-child:first-child {
  margin-right: 40px
}

#dialogue-container {
  /* border: 2px solid blue; */
  display: flex;
  max-width: 300px;
  min-width: 300px;
  flex:1;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  background: url("../images/dialogue-container.png") no-repeat center center;
  background-size: contain;
}

#expression-container {
  /* border: 2px solid yellow; */
  display: flex;
  max-width: 300px;
  min-width: 300px;
  flex:1;
  width: 80%;
}


#mood-result-container {
  /* background-color: red; */
}


#question {
  font-size: 20px;
}

#prototype-expression {
  max-width:300px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}



label {
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  padding: 5px;
  font-family:'Courier New', Courier, monospace;
  background-color: #4090a3;
  border-color: #224e58;
}

#generate {
  background-color: #c3b901;
  border-color: #8b8400;
}

img.mood-display {
  max-width:300px;
}