.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.44rem;
  padding: 0 12%;
  background-color: rgb(187, 225, 238);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family:'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  background-color: rgb(35, 35, 119);
  background-size: cover;
  color: aliceblue;
}

.banner h1 {
  padding-top: .55rem 0;
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace
}

.emotion-selection-container {
  width: 75%;
  padding: 1.11rem;
  border-radius: 5px;
  margin: 0 auto 4.44rem auto;
  background-color: rgb(187, 225, 238);
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  top: -2.77;
  margin-bottom: 1.67rem;
}

#mood-result-container {
  margin: 0 auto 4.44rem auto;
 
}